body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid #61dafb;
}

.center {
  margin: 0 auto;
}

.w-75 {
  width: 75%;
}

.clearfix {
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -9px;
  animation: rotate infinite 30s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brand {
  display: block;
  margin: 0px;
  float: left;
}

#menu {
  margin-top: 14px;
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 80%;
  float: right;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: #38a7c5;
}

#slider {
  width: 100%;
  height: 350px;
  color: white;
  text-shadow: 0px 0px 5px #444;
  background: rgba(97, 218, 251, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(97, 218, 251, 1) 0%,
    rgba(58, 183, 214, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(97, 218, 251, 1)),
    color-stop(100%, rgba(58, 183, 214, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(97, 218, 251, 1) 0%,
    rgba(58, 183, 214, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(97, 218, 251, 1) 0%,
    rgba(58, 183, 214, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(97, 218, 251, 1) 0%,
    rgba(58, 183, 214, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(97, 218, 251, 1) 0%,
    rgba(58, 183, 214, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61dafb', endColorstr='#3ab7d6', GradientType=1 );
}

#slider h1 {
  margin: 0px;
  padding: 0;
  padding-top: 132px;
  text-align: center;
}

.btn {
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
}

.btn-white {
  color: rgb(88, 88, 88);
  background: white;
  text-shadow: none;
  text-transform: uppercase;
}

.btn-white:hover {
  background: #444;
  color: white;
  transition: 300ms all;
}

#slider.small-slider {
  height: 150px;
}

#slider.small-slider h1 {
  margin: 0px;
  padding: 0;
  padding-top: 53px;
  text-align: center;
}
